body{
	margin: 50px 25px;
	font: 20px/25px arial;
	width: 800px;
}
h1{
	text-align: center;
}
.photo1{
	height: 300px;
	text-align: center;
}
.part1, .part2, .part4{
	padding: 20px 10px;
	border-top: 3px solid black;
	text-align: left;
}
.part3{
	padding: 0px 10px 20px 10px;
	text-align: left;
}